{% extends 'base2.html.twig' %}

{% block title %}Ramas index{% endblock %}

{% block body %}
    <h1>Ramas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ramas</th>
                <th>RamasAnexo2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rama in ramas %}
            <tr>
                <td>{{ rama.id }}</td>
                <td>{{ rama.Ramas }}</td>
                <td>{{ rama.RamasAnexo2 }}</td>
                <td>
                    <a href="{{ path('ramas_show', {'id': rama.id}) }}">show</a>
                    <a href="{{ path('ramas_edit', {'id': rama.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ramas_new') }}">Create new</a>
{% endblock %}
