{% extends 'base2.html.twig' %}

{% block title %}Organismos index{% endblock %}

{% block body %}
    <h1>Organismos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cod</th>
                <th>Descripcion</th>
                <th>Desc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organismo in organismos %}
            <tr>
                <td>{{ organismo.Cod }}</td>
                <td>{{ organismo.descripcion }}</td>
                <td>{{ organismo.desc }}</td>
                <td>
                    <a href="{{ path('organismos_show', {'Cod': organismo.Cod}) }}">show</a>
                    <a href="{{ path('organismos_edit', {'Cod': organismo.Cod}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('organismos_new') }}">Create new</a>
{% endblock %}
