{{ form_start(form) }}
<div class="form-group">
    {{ form_errors(form) }}
    <div class="form-row">
        <div class="form-group col-md-2">
            {{ form_row(form.femitido) }}
        </div>
    </div>
    <div class="form-group col-md-2">
        {{ form_row(form.sincostp) }}
    </div>
    <div class="d-none">
        {{ form_widget(form) }}
    </div>
</div>
<div class="mb-3">
    <button class="btn btn-sm btn-success">{{ button_label|default('Guardar') }}</button>
    <a class="btn btn-sm btn-info" href="{{ path('comprobante_index') }}">Ignorar</a>
    {{ form_end(form) }}
</div>
