{% extends 'base2.html.twig' %}
{% block body %}
    <h3>Oficinas Municipales <span class="badge badge-pill badge-danger">{{ oficina_mcpals | length }}</span> </h3>

    <table class="table table-striped table-dark table-sm">
        <thead>
            <tr>
                <th>Provincia</th>
                <th>Municipio</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody>
        {% for oficina_mcpal in oficina_mcpals %}
            <tr>
                <td>{{ oficina_mcpal.municipio.provinciaid }}</td>
                <td> <a class="badge badge-primary" href="{{ path('oficina_mcpal_show', {'id': oficina_mcpal.id}) }}">{{ oficina_mcpal.municipio  }}</a></td>
                <td>{{ oficina_mcpal.direccion }}</td>
                <td>{{ oficina_mcpal.telefono }}</td>
                <td>{{ oficina_mcpal.email }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">Ninguna encontrada</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('oficina_mcpal_new') }}">Create new</a>#}
{% endblock %}
