{% use "form_div_layout.html.twig" %}
{% from 'Sitio/utilidades.html.twig' import campoForm %}
{{ form_start(form) }}
<div class="form-group">
    {{ form_errors(form) }}
    <div class="form-row">

        {{ campoForm('expediente',lotjuridica.id,true) }}
        {{ campoForm('entidad',lotjuridica.Identidad,true,'col-md-4')  }}
        {{ campoForm('Fecha de Aprob. inicial',lotjuridica.fechaaprobinicial | date('d/m/Y'),true)  }}
        {{ campoForm('rama',lotjuridica.idrama ,true)  }}
    </div>
    <div class="form-row">
        {{ campoForm('Fecha de Solicitud',lotjuridica.fechasolicitud  | date('d/m/Y'),true)  }}
        {{ campoForm('Tipo',lotjuridica.idtipo ,true)  }}
        {{ campoForm('servicio',lotjuridica.idservicio ,true)  }}
        {{ campoForm('extension',lotjuridica.idextension ,true)  }}
    </div>
    <div class="form-row">
        {{ campoForm('dictamen',lotjuridica.dictamen ,true,'col')  }}
    </div>
    <div class="d-none">
        {{ form_widget(form) }}
    </div>
</div>
    <button class="btn btn-sm btn-success">{{ button_label|default('Duplicar') }}</button>
    <a class="btn btn-sm btn-info" href="{{ path('lotjuridicas_index') }}">Listado de Lots</a>
{{ form_end(form) }}
