<ul>
    <li><a href="{{ path('estadistica_SNL', {'id': '0701'}) }}">SNL-7-01 </a></li>
    <li><a href="{{ path('estadistica_SNL', {'id': '0702'}) }}">SNL-7-02 </a></li>
    <li><a href="{{ path('estadistica_SNL', {'id': '0703'}) }}">SNL-7-03 </a></li>
    <li><a href="{{ path('estadistica_SNL', {'id': '0722'}) }}">SNL-7-22 </a></li>
    <li><a class="text-warning text-decoration-none" href="{{ path('estadistica_mediosnac') }}">Medios.xls</a></li>
    <li><a class="text-warning text-decoration-none" href="{{ path('estadistica_datosinstanac') }}">Instalaciones.xls</a></li>
    <li><a class="text-warning text-decoration-none" href="{{ path('estadistica_modelo1nac') }}">Modelo1.xls</a></li>
    <li><a class="text-warning text-decoration-none" href="{{ path('estadistica_modelo2nac') }}">Modelo2.xls</a></li>
</ul>
