<div class="jumbotron p-2">
    <div class="container">
        <h3 class="alert alert-success">
            {{ title | default('entregar ') | capitalize }} Comprobante de Medio de Transporte {{ comp.medio.rama | capitalize }} </h3>
        <p>Este comprobante ampara al medio<a href="{{ path('medios_trans_show', {'id':comp.medio.id }) }}"> <strong class="badge badge-pill badge-success"> {{ comp.medio }}</strong></a> <br/>
            Registrado en la basificacion <a href="{{ path('basificacion_show', {'idlbasiam': comp.medio.basificacionObj.idlbasiam }) }}"><strong class="badge badge-primary"> {{ comp.medio.basificacionObj }} </strong></a> <br/>
            Perteneciente a la lot <strong class="badge badge-pill badge-warning">{{ comp.lot }}</strong> solicitada por la entidad <strong class="badge badge-pill badge-success">{{ comp.lot.identidad }}</strong>.
            A prestar el servicio de <strong> {{ comp.medio.Servicio }} </strong>
        </p>
    </div>
</div>
